# Database Name
DATABASE=

# Database Host
DB_HOST=

# Database Port
DB_PORT=

# Database Username
DB_USERNAME=

# Database Password
DB_PASSWORD=

# Jwt Token Signing Secret
JWT_SECRET=

# Jwt Issuer
JWT_ISSUER= 

# Jwt Audience
JWT_AUDIENCE=

# Server Domain
SERVER_DOMAIN=

# HASHING SALT ROUND
SALT_ROUND=

# Redis Host
REDIS_HOST=

# Redis Port
REDIS_PORT=